body {
    margin: 0;
    padding: 0;
}

a:hover {
    transform: scale(1.01);
    color: red;
    text-decoration-thickness: 3px;
    
}
img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: scale(1.01);
}



                                    /* ---Meniu Navigatie--- */

#logo {
    position: relative;
    left: 45px;
    top: 30px;

    height: 110px;
    width: 110px;

}
                                    
                                    
nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #000000;
    height: 75px;
}
nav ul {
    list-style: none; 
    display: flex; 
}
nav ul li {
    margin-right: 17px; 

}
nav ul li a {
    font-family: Verdana, Geneva, sans-serif;
    font-weight:bold;
    text-decoration: none; 
    font-size: 17px;

    color: white;
}

nav ul li a.active {
    color: red;
}




.nav-left {
    margin-left: 40px;
}
.nav-right {
    margin-left: 700px;
}

/* Punctul rosu de live */
.nav-left li:first-child a::before {
    content: "•";
    color: rgb(109, 109, 109);
    margin-right: 5px;
}




                                /* ---Live--- */


main {
    display: flex;
    margin: 90px;
    /* background-color: rgba(137, 43, 226, 0.301); */
}

main figure img {
    width: 80%;
}

/* aside */
aside {
    border: 1px solid rgb(150, 150, 150);
    
    height: 250px;
    width: 250px;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
aside h2 {
    color: rgb(174, 31, 31);
    
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.7rem;
    
    margin-top: 40px;
}
aside p {
    font-family:'Times New Roman', Times, serif;
    
    font-size: large;
    text-align: justify;

    line-height: 27px;
    padding: 15px;
}


aside button {
    background-color: #050B86;
    color: white; 
    font-size: 1rem;
    font-weight: 600;
    padding: 15px;
    border: none;

    cursor: pointer;
    border-radius: 5px;
    
    
    width: 100%; 
}

aside button:hover {
    background-color: #00307D; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}


                                /* ---Live episodes--- */


.titlu-editii {
    padding: 20px;
    color: rgb(103, 96, 96);

    font-weight: 300;
    font-size: 35px;
}


section {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

section figure {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e6d3d3;
}

section figure img {
    width: 100%;
}
section figure p {
    text-align: center;

    margin-top: 7px;
    font-weight: 700;
    font-size: 25px;
}

button:focus {
    outline: 4px solid #050B86; 
    outline-offset: 2px;
}






                                        /* Footer */

footer {
    margin-top: 100px;

    background-color: #232222;
    color: white; 
    padding: 20px 0;
}
.footer-logo img {
    width: 100px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: #232222;
}

.footer-links a {
    font-weight: 100;
}

.footer-links a:hover {
    color: red; 
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.footer-contact p {
    margin: 20px 0;
    font-size: 0.9rem;
}


.footer-social a {
    color: white;
    margin: 0 10px;
}
.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-drepturi {
    display: flex;
    justify-content: center; 

    border-top: 1px solid #232222; 

    height: 20px;
}


footer figure {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
